package-lock=true
registry=http://mulnexus1.aus.agilent.com:8081/repository/npm-group/
# to switch out when trying to get latest unreleased awf that isn't cached on mulnexus.
#registry=http://scsnexus1.scs.agilent.com:8081/repository/npm-group/
